*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #E7E7E7;
}
body{
	background-color: #f6b319;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#61122f; 
}

.center{
	width: 90%;
	background-color: #61122F;

}
.container
{
	background-color: #61122F;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}

